<% provide(:title, "About") %>
<h1>About</h1>

<p>
    The <a href="https://wwww.railstutorial.org/"> <em>Roby on Rails Tutorial</em></a> is a
    <a href="http://wwww.railstutorial.org/book">book</a> and screencast series
</p>
