<% provide(:title, @user.name) unless @user.nil? %>
<% if !@user.nil? %>
  <div class="row">
    <div class="col-md-4">
      <%= gravatar_for(@user) %>
    </div>
    <div class="user_info">
      <h1><%= @user.name %></h1>
      <%= @user.admin %>
    </div>
  </div>
<% else %>
  <h1>User not found</h1>
<% end %>
