<% provide(:title, @user.name) unless @user.nil? %>
<% if !@user.nil? %>
  <div class="row">
    <div class="col-md-4">
      <div class="user_info">
        <h1>
          <%= gravatar_for(@user) %>
          <%= @user.name %>
        </h1>
      </div>
    </div>
  </div>
<% else %>
  <h1>User not found</h1>
<% end %>
