<footer class="blockquote-footer">
    <small>
        The <a href="https://sea.auca.kg/issues">AUCA Issue Collector</a>
        by <a href="http://github.com/rasulov-emirlan">Emirlan Rasulov</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://sea.auca.kg">News</a></li>
        </ul>
    </nav>
</footer>